<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connplex Booking Failed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <center>
        <table
            style="width: 100%; max-width: 550px; padding: 0 30px; overflow: hidden; color: #bcbcbc; background-color: #191510; font-family: 'Work Sans', sans-serif;"
            cellspacing="0" cellpadding="0" border="0" align="center">
            <tr>
                <td style="text-align: center; padding: 30px 0;">
                    <img src="https://appworkdemo.com/designer-template/template-one/images/connplexLogo.png"
                        alt="company logo" width="150" height="35">
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
                        style="background-color: #23211e; border-radius: 12px; padding: 30px 15px; text-align: center;">
                        <tr>
                            <td style="font-size: 20px; line-height: 26px; font-weight: 500;">
                                Booking is Failed
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; line-height: 20px;">
                                <%= data.bookingId %>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; line-height: 20px;">
                                <%= data.transId %>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td style="font-size: 14px; line-height: 20px;">
                                <%= data.message %>
                            </td>
                        </tr> -->
                        <tr>
                            <td style="height: 20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                              <p> 
                                 <a href="<%= url %>"
                                style="font-size: 16px; line-height: 22px; font-weight: 600; text-decoration: none; padding: 10px 20px; border-radius: 100rem; background-color: #d3b15f; color: #191510; display: table; margin: auto;">
                                View Ticket
                            </a>
                           </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <p style="font-size: 10px; line-height: 14px; margin: 20px 0 7px;">
                                    Follow us on :
                                </p>
                                <a href="https://www.facebook.com/connplex" style="text-decoration: none; width: 25px; height: 25px; display: contents;">
                                    <img src="https://appworkdemo.com/designer-template/template-one/images/facebookIcon.png"
                                        alt="company logo" width="25" height="25">
                                </a>
                                <a href="https://twitter.com/connplex1" style="text-decoration: none; width: 25px; height: 25px; display: contents;">
                                    <img src="https://appworkdemo.com/designer-template/template-one/images/twitterIcon.png"
                                        alt="company logo" width="25" height="25">
                                </a>
                                <a href="https://www.instagram.com/theconnplex/" style="text-decoration: none; width: 25px; height: 25px; display: contents;">
                                    <img src="https://appworkdemo.com/designer-template/template-one/images/instagramIcon.png"
                                        alt="company logo" width="25" height="25">
                                </a>
                                <a href="https://www.youtube.com/channel/UC3DN8tu6EccEgoBkkOPvdPA" style="text-decoration: none; width: 25px; height: 25px; display: contents;">
                                    <img src="https://appworkdemo.com/designer-template/template-one/images/youtubeIcon.png"
                                        alt="company logo" width="25" height="25">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 20px 0; font-size: 12px; line-height: 16px; font-weight: 300;">                 
                    Copyright © <%= new Date().getFullYear() %>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>